<div class="w-max">
  <h1 class="text-7xl">Game</h1>

  <div class="space-y-3 mt-5">
    <input id="game_input" placeholder="Enter broadcast here..." class="p-1 text-black" />

    <ol class="list-decimal pl-5" id="game_messages_container"></ol>
  </div>
</div>
