<div :if={@user}>
  <h1 class="text-5xl">
    {@user.name}
  </h1>

  <a class="underline text-sky-500" href={"mailto:#{@user.email}"}>Email: {@user.email}</a>
  <p :if={@user.age}>Age: <b>{@user.age}</b></p>
</div>
